<!DOCTYPE html>
<html>
  <head>
    <title>Snow</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Snow is the best product ever!!!!!!</h1>
    <p>Welcome to the page where all your fluids will disappear for good.</p>
    <h4>This is a product that helps you clean your greasy messes without promblem.</h4>
      <h5> This are some of the the messes Snow can clean.</h5>
      <ul class="a">
        <li>Grease</li>
        <li>Blood</li>
        <li>Vomit</li>
      </ul>
      <ul class="b">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Coca Cola</li>
      </ul>
  </body>
</html>
